<!DOCTYPE html>
<html>
<head>
    <title>Uusi ravintola</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1>Luo uusi ravintola</h1>
    
    <form action="/restaurants/create" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        
        <p>
            <label for="name">Ravintolan nimi:</label><br />
            <input type="text" id="name" name="name" required value="{{ form.name if form else '' }}">
        </p>
        <p>
            <label for="description">Kuvaus:</label><br />
            <textarea id="description" name="description" rows="8" cols="60">{{ form.description if form else '' }}</textarea>
        </p>
        <p>
            <label for="address">Osoite:</label><br />
            <input type="text" id="address" name="address" value="{{ form.address if form else '' }}">
        </p>
        <p>
            <label for="city_id">Kaupunki:</label><br />
            <select id="city_id" name="city_id">
                <option value="">-- Valitse kaupunki --</option>
                {% for c in cities %}
                <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="price_level">Hintataso:</label><br />
            <select id="price_level" name="price_level">
                <option value="">--</option>
                <option value="1">€</option>
                <option value="2">€€</option>
                <option value="3">€€€</option>
                <option value="4">€€€€</option>
            </select>
        </p>
        <fieldset>
            <legend>Kategoriat</legend>
            {% for cat in categories %}
            <label>
                <input type="checkbox" name="categories" value="{{ cat.id }}">
                {{ cat.name }}    
            </label><br>
            {% endfor %}
        </fieldset>

        <p>
            <button type="submit">Luo ravintola</button>
        </p>
    </form>
    <a href="/">Etusivu</a>
</body>
</html>
