<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <p>
          {{ message }}
        </p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
{% else %}
  <form action="/login" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
  <a href="/">Etusivu</a>
</body>

</html>