<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages" role="alert">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
  {% endwith %}
  
  <form action="/register" method="post">
    <p>
      <label for="username">Tunnus:</label><br />
      <input type="text" id="username" name="username" required />
    </p>
    <p>
      <label for="password1">Salasana:</label><br />
      <input type="password" id="password1" name="password1" required />
    </p>
    <p>
      <label for="password2">Salasana uudestaan:</label><br />
      <input type="password" id="password2" name="password2" required />
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Luo tunnus" />
  </form>
  
  <a href="/">Etusivu</a>
</body>

</html>
