<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <p>
          {{ message }}
        </p>
      {% endfor %}
    </div>
  {% endif %}
  {% endwith %}
  
  <form action="/register" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" required />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" required />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" required />
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Luo tunnus" />
  </form>
  
  <a href="/">Etusivu</a>
</body>

</html>
