<!doctype html>
<html lang="fi">
<head>
  <meta charset="utf-8">
  <title>Ravintolat</title>
</head>
<body>
  <h1>Ravintolat</h1>

  <form method="get" action="{{ url_for('find_restaurants') }}">
    <input type="text" name="q" placeholder="Hae nimellä tai kuvauksella" value="{{ q|e }}">
    <button type="submit">Hae</button>
    {% if q %}
      <a href="{{ url_for('find_restaurants') }}" style="margin-left:8px">Tyhjennä</a>
    {% endif %}
  </form>


  {% if items %}
    <ul>
        <h2>Tulokset:</h2>
      {% for r in items %}
        <li>
          <strong><a href="/restaurant/{{ r.id }}">{{ r.name }}</a></strong><br>
          {% if r.description %}
            <span class="desc">{{ r.description[:120] }}{% if r.description|length > 120 %}…{% endif %}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Ei tuloksia.</p>
  {% endif %}

  <p><a href="/">Etusivu</a></p>
</body>
</html>
